---
import Header from "./Header.astro";
import Banner from "./Banner.astro";
import Goals from "./Goals.astro";
import Solar from "./Solar.astro";
import Events from "./Events.astro";
import Team from "./Team.astro";
// import Projects from "./Projects.astro";
import Footer from "./Footer.astro";

import { SEO } from "astro-seo";
import "@fontsource-variable/inter";

// TRANSLATION
const { translation = {} } = Astro.props;
import staticData from "../data/static.json";

if (!import.meta.env.API_URL) {
  throw new Error("required env file API_URL not set");
}

const lang = translation.lang;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO magic goes here -->
    <SEO
      title={staticData.name}
      description={translation.SEO.description}
      openGraph={{
        basic: {
          title: staticData.name,
          type: "website",
          image: "https://ebg.pw/dist/logo-transparent.png",
        },
      }}
      extend={{
        link: [
          {
            rel: "apple-touch-icon",
            sizes: "180x180",
            href: "/apple-touch-icon.png",
          },
        ],
        meta: [],
      }}
    />

    <style lang="scss" is:global>
      * {
        margin: 0;
        padding: 0;
      }

      h1,
      h2,
      h3,
      p,
      span,
      a {
        white-space: pre-wrap;
      }
    </style>
  </head>
  <body>
    <Header translation={translation.header} lang={lang} />
    <Banner translation={translation.banner} />
    <Goals translation={translation.goals} />
    <Solar translation={translation.solar} />
    <Events translation={translation.events} />
    <Team translation={translation.team} />
    <!-- <Projects translation={translation.projects} /> -->

    <Footer translation={translation.footer} />
  </body>
</html>
