---
const year = new Date().getFullYear();

// TRANSLATION
const { translation = {} } = Astro.props;
import staticData from "../data/static.json";
---

<style lang="scss">
  footer {
    width: 100%;
    background-color: white;
    box-shadow: 0 0 3px black;
    position: relative;

    padding: 20px 0;

    .content {
      width: 1000px;
      margin: 0 auto;

      @media only screen and (max-width: 1050px) {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
      }

      display: grid;
      grid-template-columns: 1fr 2fr;
      font-family: "Inter Variable", sans-serif;

      .logo {
        display: grid;
        grid-template-columns: 50px auto;
        gap: 5px;

        p {
          color: rgba(25, 25, 25);
          font-size: 1rem;
          line-height: 1.2rem;

          // MAKE FIRST <p> BOLD, MOVE ALL OTHER TAGS BY 10PX
          margin-top: 10px;
          &:nth-child(1) {
            font-weight: bold;
            margin: 0;
          }
        }
        img {
          width: 50px;
        }
      }

      .links {
        display: flex;

        .group {
          margin: 0 20px;
          &:nth-child(1) {
            margin-left: auto;
          }

          p {
            color: rgba(25, 25, 25);
            font-size: 1rem;
            line-height: 1.2rem;
            font-weight: bold;
            margin-bottom: 5px;
          }

          display: flex;
          flex-direction: column;

          a {
            color: rgba(25, 25, 25);
            font-size: 1rem;
            line-height: 1.2rem;
            margin: 5px 0;
            text-decoration: none;

            width: fit-content; // hacky solution to overcome full width flex. Flex wrap should be disabled

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
</style>

<footer>
  <div class="content">
    <div class="logo">
      <img src="/logo.svg" alt={staticData.name + " Logo"} />
      <div class="text">
        <p class="name">{staticData.name}</p>
        <p>{staticData.name_full}</p>
        <p>&copy;{staticData.fouding_year}-{year}</p>
      </div>
    </div>
    <div class="links">
      <!-- TODO -->

      <div class="group">
        <p>{translation.links}</p>

        <a href={staticData.github_link} target="_blank">{translation.github}</a
        >
        <a href={staticData.instagram_link} target="_blank"
          >{translation.instagram}</a
        >
        <a href={staticData.x_link} target="_blank">{translation.x}</a>
      </div>
      <!-- TODO: REMOVE/ADD LINKS IF NEEDED -->

      <div class="group">
        <p>{translation.resources}</p>

        <a href={translation.imprint_url}>{translation.imprint}</a>
        <a href={translation.privacy_url}>{translation.privacy}</a>
        <a href={translation.tos_url}>{translation.tos}</a>
      </div>
    </div>
  </div>
</footer>
