---
import Heading from "./Heading.astro";
import { Icon } from "astro-icon/components";

// TRANSLATION
const { translation = {} } = Astro.props;


type TeamDTO = {
  puuid: string;
  username: string;
  user_group: string;
  bio?: string | null;
  avatar_url?: string;
  links?: {
    platform: string;
    data_val: string;
  }[];
  settings?: {
    design: string;
    language: string;
  }
}

const team: TeamDTO[] =
  ((await (
    await fetch(`${import.meta.env.API_URL}/api/v1/public/team?includes=links`)
  ).json()) as TeamDTO[]) ?? [];
---

<style lang="scss">
  .wrapper {
    width: 100%;
    position: relative;

    background-color: white;

    .content {
      position: relative;
      z-index: 5;
      width: 1000px;
      margin: 0 auto;
      height: 100%;
      align-items: center;
      justify-content: center;

      flex-direction: column;

      padding: 20px 0;

      display: flex;

      @media only screen and (max-width: 1050px) {
        width: 100%;
        padding:  20px;
        box-sizing: border-box;
      }


      // I TOTALLY DID NOT JUST COPY THAT
      .team {
        display: flex;
        font-family: "Inter Variable", sans-serif;
        gap: 15px;
        flex-wrap: wrap;

        .member {
          background-color: #ebebeb;
          border-radius: 8px;
          overflow: hidden;

          width: 200px;
          position: relative;

          @media only screen and (max-width:250) {
            width: 100%;
          }

          img {
            position: absolute;
            width: 200px;
            height: 200px;
            z-index: 1;

          }

          .links {
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: flex-end;
            box-sizing: border-box;

            z-index: 2;
            padding: 5px;
            gap: 11px;

            a {
              text-decoration: none;

              transition: 0.25s box-shadow;

              width: 1.8rem;
              height: 1.8rem;
              background-color: #303030;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;

              svg {
                font-size: 1.2rem;
                color: white;
              }

              &:hover {
                box-shadow: 0 0 5px white;
              }
            }
          }

          .container {
            position: relative;
            z-index: 6;
            margin-top: 140px;

            padding: 10px;

            &::before {
              content: "";
              width: 100%;
              position: absolute;
              top: 0;
              left: 0;
              height: 60px;
              background: linear-gradient(transparent 0%, #ebebeb 40%);
            }

            p {
              position: relative;
              color: rgba(25, 25, 25);
            }
            p.role {
              font-weight: bold;
              font-size: 1rem;
              line-height: 1rem;
            }

            p.langs {
              font-size: 0.8rem;
              line-height: 1rem;
            }

            p.description {
              font-size: 1rem;
              line-height: 1.5rem;
              margin: 0.3rem 0;
              text-align: justify;
            }
          }
        }
      }
    }
  }
</style>
{team.length > 0 ?
<div class="wrapper">
  <div class="content" id="team">
    <Heading level={2}>{translation.heading}</Heading>
    <div class="team">
      {
        team.map((member) => {



          return (
            <div class="member">
              <div class="links">
                {(member.links ?? []).map((link) => {
                  if(!["github","twitter","linkedin","steam","website"].includes(link.platform.toLowerCase())) return;

                  let linkPrefix = "";
                  switch (link.platform.toLowerCase()) {
                    case "github":
                      linkPrefix = "https://github.com/";
                      break;
                    case "twitter":
                      linkPrefix = "https://x.com/"
                      break;
                    case "linkedin":
                      linkPrefix = "https://www.linkedin.com/in/"
                      break;
                    case "steam":
                      linkPrefix = "https://steamcommunity.com/id/"
                      break;
                    default:
                      break;
                  }

                  return <a href={linkPrefix+link.data_val} target="_blank">
                    <Icon name={link.platform.toLowerCase()} />
                  </a>
                })}
              

              </div>
              <img src={member.avatar_url ?? "/favicon.svg"} alt={member.username} />
              <div class="container">
                <Heading level="3">{member.username}</Heading>
                <p class="role"><!-- 
                  -->{translation?.roles[member.user_group] ?? translation.no_role}
                </p>
                {member.settings ? <p class="langs">{member.settings?.language}</p> : <></>}
                <p class="description"><!-- 
                  -->{member.bio ??
                    translation.no_description}
                </p>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</div>
: null }
