<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <title>EBG - Impressum</title>
    <!-- Essential JS -->
    <script src="<%= domain %>/appjs/i18next.js?<%= curentUnixTime %>" defer></script>
    <!-- Include Tabler CSS -->
    <link href="<%= domain %>/dist/css/tabler.min.css?<%= curentUnixTime %>" rel="stylesheet"/>
    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>
</head>
<body>
    <script src="<%= domain %>/appjs/format.js?<%= curentUnixTime %>"></script>
    <div class="container-xl">
        <div id="top"></div>
        <!-- Header -->
        <div class="page-header">
            <h1 class="page-title">
                EBG - Impressum
            </h1>
        </div>

        <!-- Back Button -->
        <div class="mt-1">
            <a href="javascript:history.back()" class="btn btn-primary">Gehe zurück</a>
        </div>

        <!-- Imprint Section -->
        <div id="imprint" class="card card mt-2">
            <div class="card-header">
                <h1 class="card-title">Impressum</h1>
            </div>
            <div class="card-body">
                <h1>Informationspflicht laut §5 E-Commerce Gesetz und Offenlegungspflicht laut §25 Mediengesetz</h1>
                <p><b>Vereinsname:</b> Elektronische Begeisterung Gemeinsam. Projekt Werkstatt</p>
                <p><b>ZVR:</b> 1115441521</p>
                <p><b>Vereinssitz:</b> 4052 Ansfelden, Satellitenplatz 1, Österreich</p>
                <p><b>E-Mail:</b> contact@ebg.pw</p>
                <p><b>E-Mail Datenschutz:</b> privacy@ebg.pw</p>
                <p><b>Vereinszweck:</b> </p>
                <h1>Haftungsausschluss für ausgehende Links</h1>
                <p>
                    Diese Webpräsenz enthält, so wie viele andere Webseiten ebenfalls, so genannte Links auf andere, fremde Webpräsenzen und Inhalte. Das wird als Urgedanke des Internets und des weltweiten Informationsaustauschs als gang und gäbe angesehen. Rechtlich und technisch gesehen haben wir als Betreiber unserer Webseite keinen Einfluss auf die Gestaltung sowie den Inhalt der verlinkten Webpräsenzen. Aus diesem Grund können wir zu keinem Zeitpunkt für diese Webpräsenzen in irgendeiner Art und Weise Haftung oder Gewähr übernehmen, da diese im Verantwortungsbereich des jeweiligen Betreibers angesiedelt ist.
                    Zum Zeitpunkt der Verlinkung wurden die fremden Inhalte auf Funktionalität, rechtswidrige Inhalte sowie uns möglich auf Schadsoftware überprüft. Als Indiz finden Sie bei einigen Links einen Datumsstempel der auf den Zeitpunkt der gesetzten Verlinkung hinweist. Nichts desto trotz sind wir bemüht unsere Besucher vor rechtswidrigen Inhalten und Schadsoftware zu schützen weshalb wir stichprobenartig die gesetzten Links in wiederkehrenden Intervallen untersuchen. Bei etwaigen Rechtsverletzungen werden die gesetzten Links selbstverständlich umgehend entfernt.
                    Sollten Sie einen derartigen Link vor unserer Überprüfung gefunden haben, so bitten wir um umgehende Benachrichtigung an die im Impressum angezeigten Kontaktdaten. Bitte übermitteln Sie uns dabei den Link unserer Webseite die den fragwürdigen Verweis enthält, sowie die Art der Kennzeichnung (a) rechtwidriger Inhalt, b) Schadsoftware oder c) inaktiver Inhalt bzw. Verweis).
                </p>
            </div>
        </div>

        <!-- Scroll to Top Button -->
        <div class="mt-4">
            <a href="#top" class="btn btn-primary">Zurück nach Oben</a>
        </div>
    </div>

    <%- html_content.footer %>

    <!-- Include Tabler JS (optional, if you need any interactive components) -->
    <script src="<%= domain %>/dist/js/tabler.min.js?<%= curentUnixTime %>" defer></script>
    <script src="<%= domain %>/appjs/layout.js?<%= curentUnixTime %>"></script>
</body>
</html>
