<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>EBG - Dashboard</title>
    <!-- CSS files -->
    <link href="<%= domain %>/dist/css/tabler.min.css?1684106062" rel="stylesheet"/>
    <link href="<%= domain %>/dist/css/tabler-flags.min.css?1684106062" rel="stylesheet"/>
    <link href="<%= domain %>/dist/css/tabler-payments.min.css?1684106062" rel="stylesheet"/>
    <link href="<%= domain %>/dist/css/tabler-vendors.min.css?1684106062" rel="stylesheet"/>
    <style>
      @import url('https://rsms.me/inter/inter.css');
      :root {
      	--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
      	font-feature-settings: "cv03", "cv04", "cv11";
      }
    </style>
  </head>
  <body >
    <script src="/appjs/format.js"></script>
    <div class="page">
      <!-- Navbar -->
      <header class="navbar navbar-expand-md d-print-none" >
        <div class="container-xl">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a href="/dashboard">
              <img src="/dist/logo-transparent.png" width="110" height="32" alt="EBG" class="navbar-brand-image">
              <div data-translate="Dashboard.Header.Pagename"></div>
            </a>
          </h1>
          <div class="navbar-nav flex-row order-md-last">
            <div class="nav-item d-none d-md-flex me-3">
              <div class="btn-list">
                <a href="https://github.com/sponsors/codecalm" class="btn" target="_blank" rel="noreferrer">
                  <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart-rate-monitor" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 4m0 1a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1z" /><path d="M7 20h10" /><path d="M9 16v4" /><path d="M15 16v4" /><path d="M7 10h2l2 3l2 -6l1 3h3" /></svg>
                  <div data-translate="Dashboard.Header.Field.Monitoring"></div>
                </a>
              </div>
            </div>
            <div class="d-none d-md-flex">
              <a onclick="toggleColor('dark')" class="nav-link px-0 hide-theme-dark" style="cursor: pointer;" data-translate-title="Dashboard.Header.Buttons.ToggleColor.Dark" title="" data-bs-toggle="tooltip"
		   data-bs-placement="bottom">
                <!-- Download SVG icon from http://tabler-icons.io/i/moon -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" /></svg>
              </a>
              <a onclick="toggleColor('light')" class="nav-link px-0 hide-theme-light" style="cursor: pointer;" data-translate-title="Dashboard.Header.Buttons.ToggleColor.Light" title="" data-bs-toggle="tooltip"
		   data-bs-placement="bottom">
                <!-- Download SVG icon from http://tabler-icons.io/i/sun -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" /></svg>
              </a>
              <div class="nav-item dropdown d-none d-md-flex me-3">
                <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Show notifications">
                  <!-- Download SVG icon from http://tabler-icons.io/i/bell -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" /><path d="M9 17v1a3 3 0 0 0 6 0v-1" /></svg>
                  <span class="badge bg-red"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Last updates</h3>
                    </div>
                    <div class="list-group list-group-flush list-group-hoverable">
                      <div class="list-group-item">
                        <div class="row align-items-center">
                          <div class="col-auto"><span class="status-dot status-dot-animated bg-red d-block"></span></div>
                          <div class="col text-truncate">
                            <a href="#" class="text-body d-block">Example 1</a>
                            <div class="d-block text-muted text-truncate mt-n1">
                              Test 1
                            </div>
                          </div>
                          <div class="col-auto">
                            <a href="#" class="list-group-item-actions">
                              <!-- Download SVG icon from http://tabler-icons.io/i/star -->
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="list-group-item">
                        <div class="row align-items-center">
                          <div class="col-auto"><span class="status-dot d-block"></span></div>
                          <div class="col text-truncate">
                            <a href="#" class="text-body d-block">Example 2</a>
                            <div class="d-block text-muted text-truncate mt-n1">
                              Test 2
                            </div>
                          </div>
                          <div class="col-auto">
                            <a href="#" class="list-group-item-actions show">
                              <!-- Download SVG icon from http://tabler-icons.io/i/star -->
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon text-yellow" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="list-group-item">
                        <div class="row align-items-center">
                          <div class="col-auto"><span class="status-dot d-block"></span></div>
                          <div class="col text-truncate">
                            <a href="#" class="text-body d-block">Example 3</a>
                            <div class="d-block text-muted text-truncate mt-n1">
                              Test 3
                            </div>
                          </div>
                          <div class="col-auto">
                            <a href="#" class="list-group-item-actions">
                              <!-- Download SVG icon from http://tabler-icons.io/i/star -->
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="list-group-item">
                        <div class="row align-items-center">
                          <div class="col-auto"><span class="status-dot status-dot-animated bg-green d-block"></span></div>
                          <div class="col text-truncate">
                            <a class="text-body d-block">Example 4</a>
                            <div class="d-block text-muted text-truncate mt-n1">
                              test 4
                            </div>
                          </div>
                          <div class="col-auto">
                            <a class="list-group-item-actions">
                              <!-- Download SVG icon from http://tabler-icons.io/i/star -->
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                <span class="avatar avatar-sm" id="Dashboard.Profile.AvatarIcon" style="background-image: url()"></span>
                <div class="d-none d-xl-block ps-2">
                  <div id="Dashboard.Profile.Username"></div>
                  <div class="mt-1 small text-muted" id="Dashboard.Profile.User_Group"></div>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" id="Dashboard.ProfileDropdown">
              </div>
            </div>
          </div>
        </div>
      </header>
      <header class="navbar-expand-md">
        <div class="collapse navbar-collapse" id="navbar-menu">
          <div class="navbar">
            <div class="container-xl">
              <ul class="navbar-nav" id="Dashboard.Navbar.Elements">
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-0 align-items-center">
              <div class="col">
                <h2 class="page-title" data-translate="Events.Settings.Title"></h2>
              </div>
              <div class="col-auto">
                <span>
                  <a href="./." class="btn btn-primary">
                    <!-- Download SVG icon from http://tabler-icons.io/i/arrow-left -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l14 0"></path><path d="M5 12l6 6"></path><path d="M5 12l6 -6"></path></svg>
                    <div data-translate="Button.GoBack"></div>
                  </a>
                </span>
              </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="card">
              <div class="row g-0">
                <div class="col-3 d-none d-md-block border-end">
                  <div class="card-body">
                    <div class="list-group list-group-transparent">
                      <a href="/event/<%= params.id %>/settings" class="list-group-item list-group-item-action d-flex align-items-center active" data-translate="Events.Settings.Site.General"></a>
                      <a href="/event/<%= params.id %>/settings-oauth" class="list-group-item list-group-item-action d-flex align-items-center" data-translate="Events.Settings.Site.OAuth"></a>
                    </div>
                  </div>
                </div>
                <div class="col d-flex flex-column">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-12">
                        <div id="NewEventErrorLine"></div>
                      </div>
                    </div>
                    <h2 class="mb-4" data-translate="Events.Settings.Site.General"></h2>
                    <div class="row mb-3 align-items-end">
                      <div class="col-auto">
                        <a href="#" class="avatar avatar-upload rounded">
                          <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                          <span class="avatar-upload-text" data-translate="Events.Modal.NewEvent.AvatarAdd"></span>
                        </a>
                      </div>
                      <div class="col">
                        <label class="form-label" data-translate="Events.Modal.NewEvent.EventName"></label>
                        <input type="text" id="EventName" data-translate-placeholder="Events.Modal.NewEvent.Placeholder.EventName" onchange="handleInputChange(this.id)" class="form-control" />
                      </div>
                    </div>
                    <!-- Color & Event Visibility Row-->
                    <div class="row">
                      <div class="col-lg-7">
                        <label class="form-label" data-translate="Events.Modal.NewEvent.Color"></label>
                        <div class="row g-2">
                          <div class="col-auto">
                            <label class="form-colorinput">
                              <input name="color" type="radio" value="dark" onchange="handleColorChange(this.value)" class="form-colorinput-input" />
                              <span class="form-colorinput-color bg-dark"></span>
                            </label>
                          </div>
                          <div class="col-auto">
                            <label class="form-colorinput form-colorinput-light">
                              <input name="color" type="radio" value="white" onchange="handleColorChange(this.value)" class="form-colorinput-input"  checked/>
                              <span class="form-colorinput-color bg-white"></span>
                            </label>
                          </div>
                          <div class="col-auto">
                            <label class="form-colorinput">
                              <input name="color" type="radio" value="blue" onchange="handleColorChange(this.value)" class="form-colorinput-input" />
                              <span class="form-colorinput-color bg-blue"></span>
                            </label>
                          </div>
                          <div class="col-auto">
                            <label class="form-colorinput">
                              <input name="color" type="radio" value="azure" onchange="handleColorChange(this.value)" class="form-colorinput-input" />
                              <span class="form-colorinput-color bg-azure"></span>
                            </label>
                          </div>
                          <div class="col-auto">
                            <label class="form-colorinput">
                              <input name="color" type="radio" value="indigo" onchange="handleColorChange(this.value)" class="form-colorinput-input" />
                              <span class="form-colorinput-color bg-indigo"></span>
                            </label>
                          </div>
                          <div class="col-auto">
                            <label class="form-colorinput">
                              <input name="color" type="radio" value="purple" onchange="handleColorChange(this.value)" class="form-colorinput-input" />
                              <span class="form-colorinput-color bg-purple"></span>
                            </label>
                          </div>
                          <div class="col-auto">
                            <label class="form-colorinput">
                              <input name="color" type="radio" value="pink" onchange="handleColorChange(this.value)" class="form-colorinput-input" />
                              <span class="form-colorinput-color bg-pink"></span>
                            </label>
                          </div>
                          <div class="col-auto">
                            <label class="form-colorinput">
                              <input name="color" type="radio" value="red" onchange="handleColorChange(this.value)" class="form-colorinput-input" />
                              <span class="form-colorinput-color bg-red"></span>
                            </label>
                          </div>
                          <div class="col-auto">
                            <label class="form-colorinput">
                              <input name="color" type="radio" value="orange" onchange="handleColorChange(this.value)" class="form-colorinput-input" />
                              <span class="form-colorinput-color bg-orange"></span>
                            </label>
                          </div>
                          <div class="col-auto">
                            <label class="form-colorinput">
                              <input name="color" type="radio" value="yellow" onchange="handleColorChange(this.value)" class="form-colorinput-input" />
                              <span class="form-colorinput-color bg-yellow"></span>
                            </label>
                          </div>
                          <div class="col-auto">
                            <label class="form-colorinput">
                              <input name="color" type="radio" value="lime" onchange="handleColorChange(this.value)" class="form-colorinput-input" />
                              <span class="form-colorinput-color bg-lime"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-5">
                        <div class="mb-5">
                          <label class="form-label" data-translate="Events.Modal.NewEvent.Visibility"></label>
                          <select class="form-select" id="EventVisibility" onchange="handleInputChange(this.id)">
                            <option value="1" data-translate="Events.Modal.NewEvent.Visibility_Open" selected></option>
                            <option value="0" data-translate="Events.Modal.NewEvent.Visibility_Hidden"></option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <!-- Date Row-->
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="mb-4">
                          <label class="form-label" data-translate="Events.Modal.NewEvent.DateApply"></label>
                          <input type="datetime-local" id="EventDateApply" class="form-control" onchange="handleInputChange(this.id)">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="mb-4">
                          <label class="form-label" data-translate="Events.Modal.NewEvent.DateStart"></label>
                          <input type="datetime-local" id="EventDateStart" class="form-control" onchange="handleInputChange(this.id)">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="mb-4">
                          <label class="form-label" data-translate="Events.Modal.NewEvent.DateEnd"></label>
                          <input type="datetime-local" id="EventDateEnd" class="form-control" onchange="handleInputChange(this.id)">
                        </div>
                      </div>
                    </div>
                    <!-- Location & MinGroup Row-->
                    <div class="row">
                      <div class="col-lg-8">
                        <div class="mb-4">
                          <label class="form-label" data-translate="Events.Modal.NewEvent.Location"></label>
                          <input type="text" id="EventLocation" data-translate-placeholder="Events.Modal.NewEvent.Placeholder.Location" onchange="handleInputChange(this.id)" class="form-control">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="mb-4">
                          <label class="form-label" data-translate="Events.Modal.NewEvent.MinGroup"></label>
                          <select type="form-select" id="EventMinGroup" class="form-control" onchange="handleInputChange(this.id)">
                            <option value="reg" data-translate="Events.Modal.NewEvent.MinGroup_RegOnly" selected></option>
                            <option value="member" data-translate="Events.Modal.NewEvent.MinGroup_Members"></option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <!-- Description Row-->
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="mb-4">
                          <label class="form-label" data-translate="Events.Modal.NewEvent.Description"></label>
                          <textarea class="form-control" id="EventDescription" onchange="handleInputChange(this.id)" data-translate-placeholder="Events.Modal.NewEvent.Placeholder.Description" rows="3"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div id="NewEventErrorLine"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer footer-transparent d-print-none">
          <div class="container-xl">
            <div class="row text-center align-items-center flex-row-reverse">
              <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item"><a href="<%= domain %>/legal/legal#imprint" data-translate="Dashboard.Footer.Links.Imprint" class="link-secondary" rel="noopener"></a></li>
                  <li class="list-inline-item"><a href="<%= domain %>/legal/legal#privacy" data-translate="Dashboard.Footer.Links.Privacy" class="link-secondary"></a></li>
                  <li class="list-inline-item"><a href="<%= domain %>/legal/guidelines" data-translate="Dashboard.Footer.Links.Guidelines" class="link-secondary" rel="noopener"></a></li>
                </ul>
              </div>
              <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                    Copyright &copy; <%= new Date().getFullYear() %>
                    <a href="https://ebg.pw" class="link-secondary">EBG</a>.
                    All rights reserved.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <div class="modal modal-blur fade" id="modal-danger-delete-avatar" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-status bg-danger"></div>
          <div class="modal-body text-center py-4">
            <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.24 3.957l-8.422 14.06a1.989 1.989 0 0 0 1.7 2.983h16.845a1.989 1.989 0 0 0 1.7 -2.983l-8.423 -14.06a1.989 1.989 0 0 0 -3.4 0z" /><path d="M12 9v4" /><path d="M12 17h.01" /></svg>
            <h3>Are you sure?</h3>
            <div class="text-muted">Do you really want to remove your avatar? What you've done cannot be undone.</div>
          </div>
          <div class="modal-footer">
            <div class="w-100">
              <div class="row">
                <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                    Cancel
                  </a></div>
                <div class="col"><a href="#" class="btn btn-danger w-100" data-bs-dismiss="modal">
                    Delete
                  </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="<%= domain %>/appjs/permission.js"></script>
    <script src="<%= domain %>/appjs/translate.js"></script>
    <script src="<%= domain %>/dist/js/tabler.min.js?1684106062" defer></script>
    <script src="<%= domain %>/dist/js/demo.min.js?1684106062" defer></script>
    <script src="<%= domain %>/dist/js/i18next.min.js?1684106062"></script>
    <script src="<%= domain %>/appjs/layout.js"></script>
    <script>
      // Handle changes to all imput fields (VanillaJS)

      const apiEndpoints = {
        "EventName": {
          "endpoint": "/api/v1/event/<%= params.id %>/name",
          "method": "POST",
          "field": "name",
          "value": "raw"
        },
        "EventDescription": {
          "endpoint": "/api/v1/event/<%= params.id %>/description",
          "method": "POST",
          "field": "description",
          "value": "raw"
        },
        "EventLocation": {
          "endpoint": "/api/v1/event/<%= params.id %>/location",
          "method": "POST",
          "field": "location",
          "value": "raw"
        },
        "EventVisibility": {
          "endpoint": "/api/v1/event/<%= params.id %>/visibility",
          "method": "POST",
          "field": "visibility",
          "value": "raw"
        },
        "EventDateApply": {
          "endpoint": "/api/v1/event/<%= params.id %>/dateapply",
          "method": "POST",
          "field": "dateApply",
          "value": "raw"
        },
        "EventDateStart": {
          "endpoint": "/api/v1/event/<%= params.id %>/datestart",
          "method": "POST",
          "field": "dateStart",
          "value": "raw"
        },
        "EventDateEnd": {
          "endpoint": "/api/v1/event/<%= params.id %>/dateend",
          "method": "POST",
          "field": "dateEnd",
          "value": "raw"
        },
        "EventMinGroup": {
          "endpoint": "/api/v1/event/<%= params.id %>/mingroup",
          "method": "POST",
          "field": "minGroup",
          "value": "raw"
        },
      };

      const getSelectedColorValue = () => {
        const colorInputs = document.querySelectorAll('input[name="color"]:checked');
        return colorInputs.length > 0 ? colorInputs[0].value : null;
      }

      const setLoadedColorValue = (color) => {
        const colorInputs = document.querySelectorAll('input[name="color"]');
        colorInputs.forEach((input) => {
          if (input.value === color) {
            input.checked = true;
          }
        });
      }

      const handleInputChange = async (id) => {
        const inputElement = document.getElementById(id);
        let value_send;

        if(apiEndpoints[id].value == "raw") {
          value_send = inputElement.value;
        } else if(apiEndpoints[id].value == "bool") {
          value_send = inputElement.checked;
        }

        const response = await fetch(apiEndpoints[id].endpoint, {
          method: apiEndpoints[id].method,
          headers: {
            "Content-Type": "application/json",

            "Authorization": "Bearer " + localStorage.getItem("token")
          },
          body: JSON.stringify({
            [apiEndpoints[id].field]: value_send
          })
        });

        if (response.ok) {
          inputElement.classList.remove("is-invalid");
          inputElement.classList.add("is-valid");

          setTimeout(() => {
            inputElement.classList.remove("is-valid");
          }, 3000);
        } else {
          inputElement.classList.add("is-invalid");
        }
      }

      handleColorChange = async (color) => {
        const response = await fetch("/api/v1/event/<%= params.id %>/color", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",

            "Authorization": "Bearer " + localStorage.getItem("token")
          },
          body: JSON.stringify({
            color: color
          })
        });

        if (response.ok) {
          const colorInputs = document.querySelectorAll('input[name="color"]');
          colorInputs.forEach((input) => {
            if (input.value === color) {
              input.checked = true;
            }
          });
        }
      }

      // Auto-fill user data (VanillaJS)
      document.addEventListener("DOMContentLoaded", async () => {
        const response = await fetch("/api/v1/event/<%= params.id %>", {
          method: "GET",
          headers: {
            "Content-Type": "application/json",

            "Authorization": "Bearer " + localStorage.getItem("token")
          }
        });

        if(response.status == 200) {
          const data = await response.json();
          setLoadedColorValue(data.color);
          document.getElementById("EventName").value = data.name;
          document.getElementById("EventDescription").value = data.description;
          document.getElementById("EventLocation").value = data.location_address;
          document.getElementById("EventVisibility").value = data.visibility;
          document.getElementById("EventDateApply").value = toDateTimeLocalString(data.date_apply);
          document.getElementById("EventDateStart").value = toDateTimeLocalString(data.date_start);
          document.getElementById("EventDateEnd").value = toDateTimeLocalString(data.date_end);
          document.getElementById("EventMinGroup").value = data.min_group;
        }
      });
    </script>
  </body>
</html>